@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #121212;
  color: #E1E1E6;
  font-family: 'Montserrat', sans-serif;
}

hr {
  border: #535353 solid 3px;
  margin: 10px 10px;
  border-radius: 12px;
}

.first {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

.first_left {
  padding: 150px 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 20px;
  width: 50%;
  height: 100%;
}

.first_right {
  width: 50%;
  height: 100%;
}

.first_left_title {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.first_left_tittle_name {
  font-size: 150px;
  font-weight: 800;
  z-index: 5;
  position: relative;
  color: #ffffff;
}

.first_left_tittle_name span {
  font-size: 25px;
  font-weight: 500;
  color: #b3b3b3;
  position: absolute;
  top: 35%;
  right: -2%;
}

.first_left_title_port {
  font-size: 40px;
  font-weight: 500;
  color: #b3b3b3;
  position: absolute;
  bottom: 1%;
  left: 50%;
  z-index: 1;
}

.first_left_desc {
  padding: 20px;
  font-size: 17px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 5px;
  width: 50%;
  margin: auto;
}

.first_right {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.first_right_img {
  text-align: center;
}

.first_right_img img {
  width: 50%;
  border-radius: 50%;
  animation: wooble 20s infinite linear;
  border: 5px solid #1db954;
  transition: all .3s ease-in-out;
}

.first_right_img img:hover {
  transform: scale(1.2);
}

@keyframes wooble {
  0% {
    border-radius: 47% 37% 49% 37%;
  }

  5% {
    border-radius: 40% 45% 30% 50%;
  }

  10% {
    border-radius: 44% 31% 32% 39%;
  }

  15% {
    border-radius: 45% 32% 40% 46%;
  }

  20% {
    border-radius: 40% 40% 45% 35%;
  }

  25% {
    border-radius: 47% 37% 49% 37%;
  }

  30% {
    border-radius: 42% 45% 30% 50%;
  }

  35% {
    border-radius: 44% 32% 32% 39%;
  }

  40% {
    border-radius: 45% 32% 42% 46%;
  }

  45% {
    border-radius: 38% 40% 45% 30%;
  }

  50% {
    border-radius: 47% 37% 49% 37%;
  }

  55% {
    border-radius: 40% 45% 30% 50%;
  }

  60% {
    border-radius: 44% 31% 32% 39%;
  }

  65% {
    border-radius: 45% 32% 40% 46%;
  }

  70% {
    border-radius: 40% 40% 45% 35%;
  }

  75% {
    border-radius: 47% 37% 49% 37%;
  }

  80% {
    border-radius: 42% 45% 30% 50%;
  }

  85% {
    border-radius: 44% 32% 32% 39%;
  }

  90% {
    border-radius: 45% 32% 42% 46%;
  }

  95% {
    border-radius: 38% 40% 45% 30%;
  }

  100% {
    border-radius: 47% 37% 49% 37%;
  }
}

.first_right_socials {
  padding: 10px;
}

.first_right_socials a {
  text-decoration: none;
}

.first_right_button a {
  text-decoration: none;
  color: #ffffff;
}

.first_right_button {
  background-color: #535353;
  padding: 10px;
  border-radius: 999px;
  transition: all .3s ease-in-out;
  cursor: pointer;
  animation: vibration 3s ease-in-out 2s infinite;
}

@keyframes vibration {
  0% {
    transform: translate(0px);
  }

  5% {
    transform: translate(-5px);
  }

  10% {
    transform: translate(5px);
  }

  15% {
    transform: translate(-2.5px);
  }

  20% {
    transform: translate(2.5px);
  }

  25% {
    transform: translate(0);
  }
}

.first_right_button:hover {
  background-color: #1db954;
  transform: scale(1.1);
  animation: none;
}

.first_right_button:active {
  transform: scale(0.9);
  transition: all .1s ease-in-out;
}

.second {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin: 75px 0;
}

.second_left,
.second_right {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: 0 10%;
  justify-content: center;
  align-items: center;
}

.second_right {
  font-size: 14px;
  font-weight: 600;
}

.second_right span {
  font-size: 15px;
  font-weight: 900;
}

.second_right_contact {
  animation: linear colors 2s infinite;
  cursor: pointer;
  font-size: 16px;
  font-weight: 900;
}

@keyframes colors {
  0% {
    color: #157c39;
  }

  50% {
    color: #ffffff;
  }

  100% {
    color: #157c39;
  }
}

.second_right_contact:hover {
  color: #1db954 !important;
}

.second_left_title {
  font-size: 150px;
  font-weight: 900;
  line-height: 120px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.second_left_title_me {
  margin-left: 200px;
  animation: ease-in-out infinite 7.5s slideMe;
}

@keyframes slideMe {
  0% {
    transform: translate(0);
  }

  50% {
    transform: translate(-200px);
  }

  100% {
    transform: translate(0);
  }

}

.second_left_title_why {
  animation: ease-in-out infinite 7.5s slideWhy;
}

@keyframes slideWhy {
  0% {
    transform: translate(0);
  }

  50% {
    transform: translate(50px);
  }

  100% {
    transform: translate(0);
  }

}

.second_left_title_pointer {
  font-size: 200px;
  color: #535353;
  animation: jumpPointer 7.5s infinite linear;
}

@keyframes jumpPointer {
  0% {
    transform: rotateY(0);
  }

  100% {
    transform: rotateY(360deg);
  }
}